
<form class="row g-3" action="/user" method="post">

  <div class="d-grid gap-2 col-6 mx-auto">
      <div class="position-absolute top-50 start-50 translate-middle">
          <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Nome usuário</label>
               <div class="col-sm-10">
                    <input type="text" class="form-control" id="formGroupExampleInput" name="nome" placeholder="Insira seu nome aqui">
               </div>
          </div>

          <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">História</label>
              <div class="col-sm-10">
                    <textarea class="form-control" placeholder="Insira sua história aqui" name="hist" id="floatingTextarea"></textarea>
              </div>
          </div>
                         <br>
          <div class="position-absolute top-100 start-50 translate-middle">
                    <button type="submit" class="btn btn-primary">Postar</button>
          </div>
       </div>
   </div>

</form>
